@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-color: darkseagreen;
    --title-color: #004900;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    transition: all .2s;
}

body {
    background-color: var(--bg-color);
    font-size: 1.25rem;
}

ul {
    list-style: circle;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: var(--title-color);
}

/* Home */
#home h1 {
    text-align: left;
}

/* Skills */
#skills .card {
    min-height: 250px;
    background-color: rgba(0,0,0,.25);
}

/* Languages */
#languages .col {
    max-width: 200px;
}

#languages .col img:hover {
    transform: scale(1.5);
}

/* Form */
form .form-control {
    background-color: #cccccc;
    color: black;
}

form .btn {
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    font-size: 1.25rem;
}

form .btn:hover, form .btn:focus  {
    background-color: rgba(0,0,0,.5);
    color: white;
}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
    color: #F1F1F1;
}

form button[type="reset"] {
    margin-left: 1rem;
}

/* Footer */
footer {
    background-color: var(--title-color);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

footer a:hover, footer a:focus {
    color: var(--bg-color);
}

footer .col {
    max-width: 100px;
}
